<div class="sample__accordion-list">
  <details class="accordion" name="exclusive-group">
    <summary class="accordion__summary">アコーディオンタイトル</summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="accordion__contents">
        <p class="accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </details>
  <details class="accordion" name="exclusive-group">
    <summary class="accordion__summary">アコーディオンタイトル</summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="accordion__contents">
        <p class="accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </details>
  <details class="accordion" name="exclusive-group">
    <summary class="accordion__summary">アコーディオンタイトル</summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="accordion__contents">
        <p class="accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </details>
</div>
