@use "../global" as *;

// 参考記事
// https://www.tak-dcxi.com/article/css-only-details-animation-2025

.accordion {
  // 背景色やらテキストの色やらを変数で管理
  --_text-color: var(--color-text);
  --_background-default: var(--color-white);
  --_background-interactive: var(--color-gray);
  --_background-opened: var(--color-accent);
  --_text-color-opened: var(--color-white);
  --_duration: 0.2s;

  &::details-content {
    content-visibility: unset;
    display: block grid;

    @media (prefers-reduced-motion: no-preference) {
      transition-duration: 300ms;
      transition-property: grid-template-rows;
    }
  }

  &:not([open])::details-content {
    grid-template-rows: 0fr;
  }

  &[open]::details-content {
    grid-template-rows: 1fr;
  }
}

.accordion__summary {
  display: block grid;
  grid-template: ". icon" / 1fr max-content;
  gap: calc(16 * var(--to-rem));
  align-items: center;
  padding-block: calc(16 * var(--to-rem));
  padding-inline: calc(24 * var(--to-rem));
  color: var(--_text-color);
  background-color: var(--_background-default);
  transition:
    background-color var(--_duration) ease,
    color var(--_duration) ease;

  &::before {
    display: inline-block;
    grid-area: icon;
    width: calc(18 * var(--to-rem));
    height: calc(2 * var(--to-rem));
    content: "";
    background-color: currentcolor;
  }

  &::after {
    display: inline-block;
    grid-area: icon;
    width: calc(18 * var(--to-rem));
    height: calc(2 * var(--to-rem));
    content: "";
    background-color: currentcolor;
    transition: rotate var(--_duration) ease;
    rotate: 90deg;
  }

  &:focus-visible {
    background-color: var(--_background-interactive);
    outline: 2px solid currentcolor;
    outline-offset: -2px;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--_background-interactive);
    }
  }
}

.accordion[open] .accordion__summary {
  color: var(--_text-color-opened);
  background-color: var(--_background-opened);

  &::after {
    rotate: 0deg;
  }
}

.accordion__contents {
  padding-block: calc(16 * var(--to-rem));
  padding-inline: calc(24 * var(--to-rem));
}
