@use "../global" as *;

.bg-sample {
  position: relative;
  padding-block: calc(80 * var(--to-rem));
  color: var(--color-white);
  background-image: url("/assets/images/image_mv_01.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-sample::before {
  position: absolute;
  inset: 0;
  z-index: 1;
  content: "";
  background-color: oklch(from var(--color-black) l c h / 40%);
}

.bg-sample__inner {
  position: relative;
  z-index: 2;
}

.bg-sample__title {
  font-size: calc(32 * var(--to-rem));
  font-weight: var(--fw-bold);
  text-align: center;
}

.bg-sample__text {
  max-width: calc(800 * var(--to-rem));
  margin-block-start: calc(24 * var(--to-rem));
  margin-inline: auto;
  font-size: calc(16 * var(--to-rem));
  line-height: 1.8;
}
