@use "../global" as *;

.header {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-header);
  height: var(--header-height);
  background-color: var(--color-white);
  box-shadow: 0 0 25px oklch(from var(--color-black) l c h / 10%);

  @include mq("md") {
    --header-height: 80px;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  height: inherit;
  padding-inline-start: calc(16 * var(--to-rem));
}

.header__logo {
  width: 100%;
  max-width: calc(40 * var(--to-rem));
  height: inherit;

  @include mq("md") {
    max-width: calc(60 * var(--to-rem));
  }
}

.header__logo a {
  display: flex;
  align-items: center;
  height: inherit;
}

.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__nav {
  position: relative;
  display: none;
  height: inherit;

  @include mq("md") {
    display: block;
    flex: 1;
    container-type: inline-size;
  }
}

.header__nav-list {
  display: flex;
  justify-content: flex-end;
  height: inherit;
}

.header__nav-item,
.header__nav-modal-wrap {
  height: inherit;
}

.header__nav-item.header__nav-item--contact {
  display: flex;
  align-items: center;
  margin-inline-start: calc(15 * var(--to-rem));
}

.header__nav-item > a,
.header__nav-modal-wrap > p {
  display: flex;
  align-items: center;
  height: inherit;
  padding-block: 0;
  padding-inline: clamp(12px, 2cqi, 15px);
  font-size: clamp(13px, 2cqi, 16px);
  font-weight: var(--fw-medium);
  line-height: 1;
  color: var(--color-text);
}

.header__nav-modal-wrap {
  position: relative;
}

.header__nav-modal-wrap > p {
  transition:
    color var(--duration),
    opacity var(--duration);
}

.header__nav-modal {
  position: absolute;
  top: calc(80 * var(--to-rem));
  left: calc(-15 * var(--to-rem));
  width: max-content;
  padding-block: calc(10 * var(--to-rem));
  visibility: hidden;
  background-color: #e0e5e5;
  opacity: 0;
  transition:
    transform calc(var(--duration) * 1.67),
    opacity calc(var(--duration) * 1.67),
    visibility calc(var(--duration) * 1.67);
  transform: rotateX(90deg);
}

@media (any-hover: hover) {
  .header__nav-modal-wrap:hover > .header__nav-modal {
    visibility: visible;
    opacity: 1;
    transform: rotateX(0deg);
  }
}

.header__nav-modal-item a {
  position: relative;
  display: flex;
  gap: calc(24 * var(--to-rem));
  align-items: center;
  justify-content: space-between;
  padding: calc(15 * var(--to-rem));
  font-size: calc(15 * var(--to-rem));
  font-weight: var(--fw-medium);
  line-height: 1;
  color: var(--color-text);
}

.header__nav-modal-item a::after {
  display: inline-block;
  width: 8px;
  height: 8px;
  content: "";
  border-top: 2px solid currentcolor;
  border-right: 2px solid currentcolor;
  transition: opacity var(--duration);
  rotate: 45deg;
}

@media (any-hover: hover) {
  .header__nav-modal-item a:hover {
    @include mq("md") {
      opacity: 0.8;
    }
  }
}

.header__nav-item.header__nav-item--contact a {
  position: relative;
  padding-inline: calc(50 * var(--to-rem));
  color: var(--color-white);
  text-align: center;
  background-color: var(--color-primary);

  &::after {
    position: absolute;
    top: 50%;
    right: calc(20 * var(--to-rem));
    width: 5px;
    aspect-ratio: 1 / 1;
    content: "";
    border-top: 2px solid currentcolor;
    border-right: 2px solid currentcolor;
    transition: transform var(--duration);
    rotate: 45deg;
    translate: 0 -50%;

    @include mq("md") {
      width: calc(10 * var(--to-rem));
      height: calc(10 * var(--to-rem));
    }
  }
}

.header__hamburger {
  position: relative;
  z-index: 999;
  width: calc(64 * var(--to-rem));
  height: inherit;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: var(--color-primary);
  border: none;
  outline: none;
  transition: background-color var(--duration);

  @include mq("md") {
    display: none;
  }
}

.header__hamburger span {
  position: relative;
  left: 50%;
  display: block;
  width: calc(25 * var(--to-rem));
  height: 1px;
  background-color: var(--color-white);
  transition:
    top calc(var(--duration) * 1.67),
    opacity calc(var(--duration) * 1.67);
  translate: -50% 0;

  &:nth-of-type(1) {
    top: -8px;
  }

  &:nth-of-type(2) {
    top: 0;
  }

  &:nth-of-type(3) {
    top: 8px;
  }
}

.header__hamburger.is-open span {
  &:nth-of-type(1) {
    top: 0;
    rotate: 45deg;
  }

  &:nth-of-type(2) {
    opacity: 0;
  }

  &:nth-of-type(3) {
    top: -2px;
    rotate: -45deg;
  }
}

.header__drawer {
  position: absolute;
  inset: 0;
  z-index: 900;
  display: none;
  width: 100%;
  height: 100svh;
  padding-bottom: calc(110 * var(--to-rem));
  margin-top: calc(64 * var(--to-rem));
  overflow-y: scroll;
  background-color: #eff4f5;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.header__drawer-item {
  border-bottom: 1px solid var(--color-white);
}

.header__drawer-item.header__drawer-item--contact {
  margin-top: calc(40 * var(--to-rem));
  margin-left: calc(32 * var(--to-rem));
  border-bottom: none;
}

.header__drawer-item > a,
.header__drawer-accordion-title {
  display: block;
  padding: calc(20 * var(--to-rem)) calc(32 * var(--to-rem));
  font-size: calc(14 * var(--to-rem));
  font-weight: var(--fw-bold);
  line-height: 1;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.header__drawer-accordion-title {
  width: 100%;
  text-align: left;
}

.header__drawer-item.header__drawer-item--contact a {
  position: relative;
  width: 100%;
  max-width: calc(180 * var(--to-rem));
  padding: calc(15 * var(--to-rem)) 0;
  color: var(--color-white);
  text-align: center;
  background-color: var(--color-primary);

  &::after {
    position: absolute;
    top: 50%;
    right: calc(20 * var(--to-rem));
    width: 8px;
    aspect-ratio: 1 / 1;
    content: "";
    border-top: 2px solid currentcolor;
    border-right: 2px solid currentcolor;
    transition: translate var(--duration);
    rotate: 45deg;
    translate: 0 -50%;
  }
}

@media (any-hover: hover) {
  .header__drawer-item.header__drawer-item--contact a:hover::after {
    translate: 4px -50%;
  }
}

.header__drawer-accordion-title {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    right: calc(20 * var(--to-rem));
    width: calc(12 * var(--to-rem));
    height: 2px;
    content: "";
    background: currentcolor;
    transition:
      transform var(--duration),
      rotate var(--duration);
  }

  &::before {
    translate: 0 -50%;
  }

  &::after {
    rotate: 90deg;
    translate: 0 -50%;
  }
}

.header__drawer-accordion-title.is-open::after {
  rotate: revert;
  translate: 0 -50%;
}

.header__drawer-accordion-list {
  display: none;
  padding-bottom: calc(10 * var(--to-rem));
}

.header__drawer-accordion-list a {
  display: block;
  padding: calc(10 * var(--to-rem)) calc(32 * var(--to-rem));
  font-size: calc(12 * var(--to-rem));
  line-height: 1;
  letter-spacing: 0.05em;
}
