@use "../global" as *;

// 参考記事
// https://deep-space.blue/web/2999

.image-text {
  display: grid;
  grid-template: "image" auto "text" auto / 1fr;
  row-gap: calc(24 * var(--to-rem));
  align-items: center;

  @include mq(md) {
    grid-template: "image gutter text margin" auto / calc(600 / 1440 * 100%) calc(16 * var(--to-rem)) 1fr max(
        calc((100% - var(--inner)) / 2),
        calc(32 * var(--to-rem))
      );
  }
}

.image-text.image-text--reverse {
  @include mq(md) {
    grid-template: "margin text gutter image" auto / max(calc((100% - var(--inner)) / 2), calc(32 * var(--to-rem))) 1fr calc(16 * var(--to-rem)) calc(
        600 / 1440 * 100%
      );
  }
}

.image-text.image-text--overlap {
  @include mq(md) {
    grid-template: "image text margin" auto / calc(600 / 1440 * 100%) 1fr max(calc((100% - var(--inner)) / 2), calc(32 * var(--to-rem)));
  }
}

.image-text.image-text--overlap.image-text--reverse {
  @include mq(md) {
    grid-template: "margin text image" auto / max(calc((100% - var(--inner)) / 2), calc(32 * var(--to-rem))) 1fr calc(600 / 1440 * 100%);
  }
}

.image-text__image {
  grid-area: image;
}

.image-text__image img {
  width: 100%;
  height: calc(300 * var(--to-rem));
  object-fit: cover;
}

.image-text__text {
  grid-area: text;
  max-width: var(--inner-sp);
  padding: var(--padding-inner);
  margin-inline: auto;

  @include mq(md) {
    max-width: none;
    padding-inline: revert;
    margin-inline: 0;
  }
}

.image-text.image-text--overlap .image-text__text {
  padding: var(--padding-inner);
  background: var(--color-white);

  @include mq(md) {
    padding: calc(20 * var(--to-rem)) 0 calc(20 * var(--to-rem)) calc(20 * var(--to-rem));
    margin-left: calc(-100 * var(--to-rem));
  }
}

.image-text.image-text--overlap.image-text--reverse .image-text__text {
  @include mq(md) {
    padding: calc(20 * var(--to-rem)) calc(20 * var(--to-rem)) calc(20 * var(--to-rem)) 0;
    margin-right: calc(-100 * var(--to-rem));
    margin-left: auto;
  }
}
