@use "../global" as *;

.mv {
  position: relative;
  z-index: 1;
  width: 100%;
  height: max(100svh, calc(450 * var(--to-rem)));
  padding-block-start: var(--header-height);

  @include mq(md) {
    height: max(calc(500 * var(--to-rem)), 100%);
  }
}

.mv__inner {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: inherit;
}

.mv__title-wrap {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: calc(24 * var(--to-rem));
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-inline: var(--padding-inner);
  margin: auto;
  color: var(--color-white);
  text-align: center;
  container-type: inline-size;
}

.mv__main-title {
  font-size: calc(32 * var(--to-rem));
  font-weight: var(--fw-bold);
  line-height: 1.2;
  text-shadow: 0 2px 4px oklch(from var(--color-black) l c h / 30%);
  letter-spacing: 0.05em;

  @include mq(md) {
    font-size: clamp(calc(32 * var(--to-rem)), 5cqi, calc(64 * var(--to-rem)));
  }
}

.mv__sub-title {
  font-size: calc(18 * var(--to-rem));
  line-height: 1.6;
  text-shadow: 0 1px 2px oklch(from var(--color-black) l c h / 30%);

  @include mq(md) {
    font-size: clamp(calc(18 * var(--to-rem)), 3cqi, calc(24 * var(--to-rem)));
  }
}

.mv__splide {
  width: 100%;
  height: 100%;
}

.mv__splide .splide__track {
  height: 100%;
}

.mv__splide .splide__list {
  height: 100%;
}

.mv__splide .splide__slide {
  height: 100%;
}

.mv__splide .splide__slide-image {
  width: 100%;
  height: 100%;
}

.mv__splide .splide__slide-image picture,
.mv__splide .splide__slide-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
