@use "../global" as *;

.triangle {
  display: inline-block;
  width: calc(64 * var(--to-rem));
  aspect-ratio: 1/1;
  background-color: var(--color-black);
}

.triangle[data-direction="top"] {
  clip-path: var(--clip-triangle-top);
}

.triangle[data-direction="bottom"] {
  clip-path: var(--clip-triangle-bottom);
}

.triangle[data-direction="left"] {
  clip-path: var(--clip-triangle-left);
}

.triangle[data-direction="right"] {
  clip-path: var(--clip-triangle-right);
}

.triangle[data-direction="lower-left"] {
  clip-path: var(--clip-triangle-lower-left);
}

.triangle[data-direction="upper-left"] {
  clip-path: var(--clip-triangle-upper-left);
}

.triangle[data-direction="lower-right"] {
  clip-path: var(--clip-triangle-lower-right);
}

.triangle[data-direction="upper-right"] {
  clip-path: var(--clip-triangle-upper-right);
}
